<Section>
<div class="footer-gradient"></div>
    <div class="section narrow">
      <div class="footer-hr"></div>
      <div class="footer-container">
        <div class="footer-text">
          © {{ dateFormat "2006" now }} {{ .Site.Title }}
        </div>
        {{ partial "social-links/social-links.html" . }}
<!--   		<button id="copyButton" class="icon-wrapper">
      		{{ partial "icons/ui/link.html" . }}
       		<div id="toolTip" class="tool-tip " >
       		     copied
     		   </div>
      		<input id="copyText" style="opacity: 0;" type="text" class="tool-tip " />
      </button> -->
    </div>
</div>
</Section>

{{ $script := resources.Get "js/copyUrl.js" }}x
<script src="{{ $script.RelPermalink }}"></script>